<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>我的留言</title>
    <link rel="stylesheet" href="__CSS__/common.css"/>
    <link rel="stylesheet" href="__CSS__/gmkz.css"/>
    <link href="__PUBLIC__/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	
	<!--演示页面样式，使用时可以不引用-->
	<link rel="stylesheet" type="text/css" href="__CSS__/demo.css">
	<link rel="stylesheet" href="__PUBLIC__/bootstrap/css/icheck-bootstrap.css">
    <script type="text/javascript" src="__PUBLIC__/jquery/jquery-latest.js"></script>
    <script type="text/javascript">
        function fontSize(){
            var deviceWidth=document.documentElement.clientWidth>768?768:document.documentElement.clientWidth;
            document.documentElement.style.fontSize=(deviceWidth/25)+"px";
        }
        fontSize();
        window.onresize=fontSize;
    </script>
    <style>
    .pageRemark{
        display: none;
    }
    .cur{
        background-color:black !important; 
    }
    .pagination a{
        margin-right: 0px !important;
    }
    .pagination{
        padding-top:0px !important;
        margin-left: 20px; 
    }
    </style>
</head>
<body>


 <div class="login_bg">
        <div class="logo"><img src="__IMG__/logo1.png"></div>
        
        {include file='publish/back'}
        
        <div class="topright">
        		
                <div class="box1">账号：{notempty name='member'}{$member.user_name}{else /}未登录{/notempty}</div>
                
                <div class="box1">荣誉级别：{notempty name='$member.level'}{$member.level|level}{else /}无{/notempty}</div>
                
                <div class="box1">钱包等级：{notempty name='$member.grade'}{$member.grade|grade}{else /}一级钱包{/notempty}</div>
                
                <div class="box1">账户状态：{notempty name='$member.status'}{if condition="$member.status==1"}已激活{else /}未激活{/if}{else /}未激活{/notempty}</div>      
       
        </div>
        
        {include file="publish/topbom"}
        
<!-- 内容-->  
<div class="tab-box">
	<div class="kztil">

		<div class="yue">K值余额:{$setting['recommend']}个</div>
		
		<div class="yxj">我的优先级:1</div>
		
		</div>
		<div class="nr">
			  <table>
		  <thead>
			<tr>
			  <th valign="middle" style="width:10%;">编号</th>
			  <th valign="middle" style="width:37%;">账号</th>
			  <th valign="middle" style="width:16%;">购买日期</th>
			  <th valign="middle" style="width:16%;">优先级</th>
			  <th valign="middle" style="width:16%;">撤出奖金</th>
			</tr>
		  </thead>
		  <tbody>
				{volist name='coupon' id='vo'}
					<tr>
						<th valign="middle">{$vo.id}</th>
						<td valign="middle">{$vo.username}</td>
						<td valign="middle">{$vo.create_time|date="m/d",###}</td>
						<td valign="middle"></td>
						<td valign="middle"><a class='btn btn-default'>撤出</a></td>
					</tr>
				{/volist}
	
		   
		  </tbody>
		</table>
		</div>
		
		<div class="xx"></div>
		 
		
		
		<div class="dd">
		
		<div class="ddlef">可购买K数量：{$setting['intojj']}个</div>
		
		<button type="button" class="buyKey">排队购买</button>
		
		</div>
</div>




        
</div>
<!-- 注册用户弹窗 -->
<div class="buy-box">
	<div class="box-header">
		<span class="span"><b>购买K</b></span>
		<img src="__IMG__/close2.png" alt="" class="close">
	</div>
	<label for="">购买数量</label>
	<select class="form-control num">
		<option value="1">1个</option>
		<option value="2">2个</option>
		<option value="3">3个</option>
	  </select>
	<label for="">支付密码</label>
	<input type="password" class="form-control" id="pay_password"  >
	
	
	<button type="button" class="btn-yes">确&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;定</button>
	<button type="button" class="btn-no">取&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;消</button>
</div>
 <script>
 $('.buyKey').click(function(){
	$('.tab-box').attr('style','display:none');
	$('.buy-box').attr('style','display:block');
 });
 $('.close').click(function(){
	$('.tab-box').attr('style','display:block');
	$('.buy-box').attr('style','display:none'); 
 });
 $('.btn-yes').click(function(){
	 var number=$('.num option:selected').val();
	 var pay_password=$('#pay_password').val();
	 if(pay_password==""){
		 alert('请输入支付密码');
	 }else{
		var conf=confirm("确定购买"+number+"个K值吗？");
	 if(conf==true){
		
		 $.ajax({
			 type: "post",
			 url: "{:url('index/user/buykapi')}",
			 data: {"number":number,"pay_password":pay_password},
			 success: function (res) {
				 alert(res.message);
				 if(res.code=='success'){
					 	window.location.href='{:url("index/user/buykey")}';
				 }
			 }
		 });
	 }
	 
	 
	 } 
	
	 
 });
 </script>
</body>
</html>