<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>转账记录</title>
    <link rel="stylesheet" href="__CSS__/common.css"/>
    <link rel="stylesheet" href="__CSS__/jjmx.css"/>
    <link href="__PUBLIC__/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	
	<!--演示页面样式，使用时可以不引用-->
	<link rel="stylesheet" type="text/css" href="__CSS__/demo.css">
	<link rel="stylesheet" href="__PUBLIC__/bootstrap/css/icheck-bootstrap.css">
    <script type="text/javascript" src="__PUBLIC__/jquery/jquery-latest.js"></script>
    <script type="text/javascript">
        function fontSize(){
            var deviceWidth=document.documentElement.clientWidth>768?768:document.documentElement.clientWidth;
            document.documentElement.style.fontSize=(deviceWidth/25)+"px";
        }
        fontSize();
        window.onresize=fontSize;
    </script>
    <style>
    .pageRemark{
        display: none;
    }
    .cur{
        background-color:black !important; 
    }
    .pagination a{
        margin-right: 0px !important;
    }
    .pagination{
        padding-top:0px !important;
        margin-left: 20px; 
        margin-top: 0px;
        height: 0px !important; 
    }
    </style>
</head>
<body>


 <div class="login_bg">
        <div class="logo"><img src="__IMG__/logo1.png"></div>
        
        {include file='publish/back'}
        
        <div class="topright">
        		
                <div class="box1">账号：{notempty name='member'}{$member.user_name}{else /}未登录{/notempty}</div>
                
                <div class="box1">荣誉级别：{notempty name='$member.level'}{$member.level|level}{else /}无{/notempty}</div>
                
                <div class="box1">钱包等级：{notempty name='$member.grade'}{$member.grade|grade}{else /}一级钱包{/notempty}</div>
                
                <div class="box1">账户状态：{notempty name='$member.status'}{if condition="$member.status==1"}已激活{else /}未激活{/if}{else /}未激活{/notempty}</div>      
       
        </div>
        
        {include file="publish/topbom"}
        
<!-- 内容-->  

<div class="tabletil">转账记录</div>
      <table>
  <thead>
	<tr>
	  <th valign="middle" style="width:3%;">时间</th>
	  <th valign="middle" style="width:22%;">收款人姓名</th>
	  <th valign="middle" style="width:21%;">提现地址</th>
	  <th valign="middle" style="width:14%;">金额</th>
	  <th valign="middle" style="width:14%;">手续费</th>
	  <th valign="middle" style="width:17%;">实际金额</th>
	  <th valign="middle" style="width:8%;">状态</th>
	</tr>
  </thead>
  <tbody>
	  {volist name='cash' id='vo'}
	<tr>
	  <th valign="middle">{$vo.addtime|date='m/d H:i:s',###}</th>
	  <td valign="middle">{$vo.realname}</td>
	  <td valign="middle">{$vo.zhanghao|substr=0,5}...</td>
	  <td valign="middle">{$vo.price}</td>
	  <td valign="middle">{$vo.price}</td>
      <td valign="middle">{$vo.price-$vo.fee}</td>
	  <td valign="middle">{if condition="$vo.state==1"}已审{else /}未审{/if}</td>
      

	</tr>
      {/volist}
  </tbody>
</table>
 
{$cash->render()}
        
</div>
 
</body>
</html>