<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>奖金提现</title>
    <link rel="stylesheet" href="__CSS__/common.css"/>
    <link rel="stylesheet" href="__CSS__/jjmx.css"/>
    <link href="__PUBLIC__/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	
	<!--演示页面样式，使用时可以不引用-->
	<link rel="stylesheet" type="text/css" href="__CSS__/demo.css">
	<link rel="stylesheet" href="__PUBLIC__/bootstrap/css/icheck-bootstrap.css">
    <script type="text/javascript" src="__PUBLIC__/jquery/jquery-latest.js"></script>
    <script type="text/javascript">
        function fontSize(){
            var deviceWidth=document.documentElement.clientWidth>768?768:document.documentElement.clientWidth;
            document.documentElement.style.fontSize=(deviceWidth/25)+"px";
        }
        fontSize();
        window.onresize=fontSize;
    </script>
    <style>
    .pageRemark{
        display: none;
    }
    .cur{
        background-color:black !important; 
    }
    .pagination a{
        margin-right: 0px !important;
    }
    .pagination{
        padding-top:0px !important;
        margin-left: 20px; 
        margin-top: 0px;
        height: 0px !important; 
    }
    .cash{
        height:440px ;width:90% ;
        position: relative;
        top:100px;left:20px;
        border:5px solid white;
    }
    </style>
</head>
<body>


 <div class="login_bg">
        <div class="logo"><img src="__IMG__/logo1.png"></div>
        
        {include file='publish/back'}
        
        <div class="topright">
        		
                <div class="box1">账号：{notempty name='member'}{$member.user_name}{else /}未登录{/notempty}</div>
                
                <div class="box1">荣誉级别：{notempty name='$member.level'}{$member.level|level}{else /}无{/notempty}</div>
                
                <div class="box1">钱包等级：{notempty name='$member.grade'}{$member.grade|grade}{else /}一级钱包{/notempty}</div>
                
                <div class="box1">账户状态：{notempty name='$member.status'}{if condition="$member.status==1"}已激活{else /}未激活{/if}{else /}未激活{/notempty}</div>      
       
        </div>
        
        {include file="publish/topbom"}
        
<!-- 内容-->  
    <div class="cash">
                <div class="form-group">
                    <label for="exampleInputEmail1" style="margin-left:10%;">提现金额</label>
                    <input type="text" class="form-control" id="money" placeholder="最低100元,并且为100的整数倍" style="width:80%;margin-left:10%;">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1" style="margin-left:10%;">支付密码</label>
                    <input type="password" class="form-control" id="password" placeholder="支付密码" style="width:80%;margin-left:10%;">
                  </div>
                  <div class="form-group">
                        <label for="exampleInputEmail1" style="margin-left:10%;">账户地址</label>
                        <input type="text" class="form-control" id="address" placeholder="提现地址" style="width:80%;margin-left:10%;">
                      </div>
                      <button type="button" class="btn btn-primary pushCash" style="width:80%;margin-left:10%;margin-top:10%;">立即提交</button>
    </div>
    

</div>
</body>
<script>
    $('.pushCash').click(function(){
        var money=$('#money').val();
        var password=$('#password').val();
        var address=$('#address').val();
        if(money==""){
            alert('提现金额最少{$set.withdraw_low}元');
        }else if(password==""){
            alert('支付密码不能为空');
        }else if(address==""){
            alert('请输入账户地址');
        }else{
            $.ajax({
                type: "post",
                url: "{:url('index/user/pushcashwithdrawa')}",
                data: {"money":money,"password":password,"address":address},
                success: function (res) {
                    alert(res.message);
                    if(res.code=='success'){
                        window.location.href='{:url("index/user/cashwithdrawa")}';
                    }
                    
                }
            });
        }
    });
</script>
</html>