<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>主页</title>
    <link rel="stylesheet" href="__CSS__/common.css"/>
    <link rel="stylesheet" href="__CSS__/zhuye.css"/>
    <link rel="stylesheet" href="__PUBLIC__/bootstrap/css/bootstrap.css" type="text/css" />
    
     <link rel="stylesheet" type="text/css" href="__CSS__/nav.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/fonts/iconfont.css">
	
  <script src="__PUBLIC__/echarts/echarts.min.js"></script>
  <script type="text/javascript" src="__PUBLIC__/jquery/jquery.min.js"></script>
	
	<!--演示页面样式，使用时可以不引用-->
	<link rel="stylesheet" type="text/css" href="__CSS__/demo.css">
	<link rel="stylesheet" href="__PUBLIC__/bootstrap/css/icheck-bootstrap.css">
    
    <script type="text/javascript" src="__PUBLIC__/jquery/jquery-latest.js"></script>
    <script type="text/javascript">
        function fontSize(){
            var deviceWidth=document.documentElement.clientWidth>768?768:document.documentElement.clientWidth;
            document.documentElement.style.fontSize=(deviceWidth/25)+"px";
        }
        fontSize();
        window.onresize=fontSize;
    </script>

    <style>
        input::-webkit-input-placeholder{
            color:#333;
        }
        input::-moz-placeholder{   /* Mozilla Firefox 19+ */
            color:#333;
        }
        input:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
            color:#333;
        }
        input:-ms-input-placeholder{  /* Internet Explorer 10-11 */ 
            color:#333;
        }

    </style>
</head>
<body>


    <div class="login_bg">
    
        <div class="logo"><img src="__IMG__/logo1.png"></div>
        
        
        <div class="topright">
        		
                <div class="box1">账号：{notempty name='member'}{$member.user_name}{else /}未登录{/notempty}</div>
                
                <div class="box1">荣誉级别：{notempty name='$member.level'}{$member.level|level}{else /}无{/notempty}</div>
                
                <div class="box1">钱包等级：{notempty name='$member.grade'}{$member.grade|grade}{else /}一级钱包{/notempty}</div>
                
                <div class="box1">账户状态：{notempty name='$member.status'}{if condition="$member.status==1"}已激活{else /}未激活{/if}{else /}未激活{/notempty}</div>      
       
        </div>
        
        <div class="topbom">
           
           <div class="box2"> 
           		{notempty name='$member.bonus'}{$member.bonus}{else /}0.00{/notempty}金币<br>
          <button type="button">提现</button>
           </div>
           <div class="box2"> 
            {notempty name='$member.zbonus'}{$member.zbonus}{else /}0.00{/notempty}钻石<br>
          <button type="button">充值</button>
           </div>
           <div class="box2"> 
            {notempty name='$member.price'}{$member.price}{else /}0.00{/notempty}VRTC<br>
          <button type="button">购买</button>
           </div>
        </div>
        
        
        <div class="chart">
        	
            <div class="chartit">
            <button type="button">交易</button>
            
            <h4>当日价格：4.3元</h4>
            
            </div>
        
            

        
        </div>
        <div class="layui-card-body" id="main" style="height: 300px;width: 100%;"></div>
       <div class="aui-grids">
        
        <a href="" class="aui-grids-item"> 
        	<div class="aui-grids-item-icon">
            
            <img src="__IMG__/t1.png">
            
            </div>
            
            <div class="aui-grids-item-text">
            我的钱包
            </div>
        
        </a>
        
        
        <a href="" class="aui-grids-item"> 
        	<div class="aui-grids-item-icon">
            
            <img src="__IMG__/t2.png">
            
            </div>
            
            <div class="aui-grids-item-text">
            VR商城
            </div>
        
        </a>
        
        
        <a href="{:url('index/user/notice')}" class="aui-grids-item"> 
        	<div class="aui-grids-item-icon">
            
            <img src="__IMG__/t3.png">
            
            </div>
            
            <div class="aui-grids-item-text">
            新闻公告
            </div>
        
        </a>
        
        </div>
        
<div class="middle">        
    <div class="nav">
       
        <ul>
            <li class="nav-item">
                <a href="javascript:;"><i class="my-icon nav-icon icon_1"></i><span>会员激活</span><i class="my-icon nav-more"></i></a>
                <ul>
                    <li><a href="{:url('index/user/activation')}"><span>激活</span></a></li>
                    
                </ul>
            </li>
            
            <li class="nav-item">
                <a href="javascript:;"><i class="my-icon nav-icon icon_2"></i><span>市场管理</span><i class="my-icon nav-more"></i></a>
                <ul>
                    <li><a href="javascript:;"><span>链接一</span></a></li>
                    <li><a href="javascript:;"><span>链接二</span></a></li>
                    
                </ul>
            </li>
            
            <li class="nav-item">
                <a href="javascript:;"><i class="my-icon nav-icon icon_3"></i><span>个人中心</span><i class="my-icon nav-more"></i></a>
                <ul>
                    <li><a href="javascript:;"><span>链接一</span></a></li>
                    <li><a href="javascript:;"><span>链接二</span></a></li>
                    
                </ul>
            </li>
            
            <li class="nav-item">
                <a href="javascript:;"><i class="my-icon nav-icon icon_4"></i><span>信息交流</span><i class="my-icon nav-more"></i></a>
                <ul>
                    <li><a href="{:url('index/message/index')}"><span>写留言</span></a></li>
                    <li><a href="{:url('index/message/messagelist')}"><span>留言记录</span></a></li>
                    
                </ul>
            </li>
            
            <li class="nav-item">
                <a href="javascript:;"><i class="my-icon nav-icon icon_5"></i><span>复投K值</span><i class="my-icon nav-more"></i></a>
                <ul>
                    <li><a href="javascript:;"><span>链接一</span></a></li>
                    <li><a href="javascript:;"><span>链接二</span></a></li>
                    
                </ul>
            </li>
            
            <li class="nav-item">
                <a href="javascript:;"><i class="my-icon nav-icon icon_6"></i><span>VRTC交易</span><i class="my-icon nav-more"></i></a>
                <ul>
                    <li><a href="javascript:;"><span>链接一</span></a></li>
                    <li><a href="javascript:;"><span>链接二</span></a></li>
                    
                </ul>
            </li>
            
            <li class="nav-item">
                <a href="javascript:;"><i class="my-icon nav-icon icon_7"></i><span>推广二维码</span><i class="my-icon nav-more"></i></a>
                <ul>
                    <li><a href="{:url('index/user/qrcode')}"><span>二维码</span></a></li>
                    
                </ul>
            </li>
        
         
        </ul>
    </div>

    </div>
    <script type="text/jscript">
	$(function(){
    // nav收缩展开
    $('.nav-item>a').on('click',function(){
        if (!$('.nav').hasClass('nav-mini')) {
            if ($(this).next().css('display') == "none") {
                //展开未展开
                $('.nav-item').children('ul').slideUp(300);
                $(this).next('ul').slideDown(300);
                $(this).parent('li').addClass('nav-show').siblings('li').removeClass('nav-show');
            }else{
                //收缩已展开
                $(this).next('ul').slideUp(300);
                $('.nav-item.nav-show').removeClass('nav-show');
            }
        }
    });

});
	</script>        
        
        
           </div> 
        
        
        
        
        
        
        
    </div>
    
    

   

</body>
<script type="text/javascript">
    var a = "";
    var date = a.split(",");
    
    var b = "";
    var login_sum = b.split(",");
    
    
    var myChart = echarts.init(document.getElementById('main'));
    
    option = {
    title: {
        text: 'vrtc价格走势图'
    },
    tooltip: {
        trigger: 'axis'
    },
    toolbox: {
        show: true,
        feature: {
            magicType: {show: true, type: ['stack', 'tiled']},
            saveAsImage: {show: true}
        }
    },
    xAxis: {
        type: 'category',
        boundaryGap: false,
        data: ['周一','周二','周三','周四','周五','周六','周日']
    },
    yAxis: {
        type: 'value'
    },
    series: [{
        name: '价格',
        type: 'line',
        smooth: true,
        data: [10, 12, 21, 31, 26, 25, 15]
    }]
};
    myChart.setOption(option);
    </script>
</html>