<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>layui</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="__PUBLIC__/layui/css/layui.css"  media="all">
  <link rel="stylesheet" href="__PUBLIC__/font-awesome/css/font-awesome.min.css" media="all" />
  
  <link rel="stylesheet" href="__CSS__/admin.css"  media="all">
</head>
<body style="padding:10px;">
    <div class="tree">
        <ul>
            <li>
                <span><i class="fa fa-minus-circle"></i>系统</span>
                <ul>
                    <li>
                        <span><i class="fa fa-minus-circle"></i>一年级</span>
                        <ul>
                            <li><span>一班</span></li><li><span>二班</span></li>
                        </ul>
                    </li>
                    <li>
                        <span><i class="fa fa-minus-circle"></i>一年级</span>
                        <ul>
                            <li><span>一班</span></li><li><span>二班</span></li>
                        </ul>
                    </li>
                    <li>
                        <span>二年级</span>
                    </li>
                    <li>
                        <span><i class="fa fa-minus-circle"></i>三年级</span>
                        <ul>
                            <li><span>一班</span></li>
                            <li><span>二班</span></li>
                            <li><span>三班</span></li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</body>
</html>