<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>layui</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="__PUBLIC__/layui/css/layui.css"  media="all">
  <link rel="stylesheet" href="__PUBLIC__/font-awesome/css/font-awesome.min.css" media="all" />
  
  <link rel="stylesheet" href="__CSS__/admin.css"  media="all">
</head>
<body style="padding:10px;">
    <div class="tree">
        <ul>
            <li>
                <span><i class="fa fa-minus-circle"></i>系统</span>
                <ul>
                    {volist name='topMember' id='vo'}
                    <li>
                        <span><i class="fa fa-minus-circle"></i>{$vo.user_name}</span>
                        <ul>
                            {volist name='secondMember' id='v'}
                            {if condition="$vo.user_number==$v.refree "}
                            <li>
                                <span>{$v.user_name}</span>
                                    <ul>
                                        {volist name='threeMember' id='vol'}
                                        {if condition="$v.user_number==$vol.refree "}
                                        <li>
                                            <span>{$vol.user_name}</span>
                                        </li>
                                        {/if}
                                        {/volist}
                                    </ul>
                            </li>
                            {/if}
                            {/volist}
                        </ul>
                    </li>
                    {/volist}
                </ul>
            </li>
        </ul>
    </div>
</body>
</html>