<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="viewport" content="height=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
    <title>注册页</title>
    <link rel="stylesheet" href="__CSS__/style.css" type="text/css" />
    
</head>

<body>
<div class="login_bg">
<div class="regTop">
            <a class="back" href="{:url('index/login/index')}"><img src="__IMG__/fh.png"></a>
        </div>
    
    <div class="logo"><img src="__IMG__/logo1.png"></div>
    
    <div class="aa">扫码注册</div>
    
    
    <a href="#" class="bb"><img src="__IMG__/w2.png"></a>
    
    
    <a href="#" class="other_login"> 信息录入注册</a>


</div>
</body>
</html>
