<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>注册成功</title>
    <link rel="stylesheet" href="__CSS__/common.css"/>
    <link rel="stylesheet" href="__CSS__/success.css"/>
    <link href="http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	
	<!--演示页面样式，使用时可以不引用-->
	<link rel="stylesheet" type="text/css" href="__CSS__/demo.css">
	<!-- <link rel="stylesheet" href="css/icheck-bootstrap.css"> -->

    <style>
        input::-webkit-input-placeholder{
            color:#333;
        }
        input::-moz-placeholder{   /* Mozilla Firefox 19+ */
            color:#333;
        }
        input:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
            color:#333;
        }
        input:-ms-input-placeholder{  /* Internet Explorer 10-11 */ 
            color:#333;
        }

    </style>
</head>
<body>


    <div class="login_bg">
    

    
        <div class="logo"><img src="__IMG__/logo1.png"></div>

        <div class="sy_login">

        </div>
        

<div class="juzhong">

<h3>恭喜</h3>

<h4>完&nbsp;成&nbsp;注&nbsp;册</h4>

</div>   


        
       <div class="login">

       <button class="login_dl" type="submit">现在体验</button>
        
       
     </div>
     
     
          
     
     
    </div>

</body>
</html>