<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>layui</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="__PUBLIC__/layui/css/layui.css"  media="all">
  <link rel="stylesheet" href="__PUBLIC__/font-awesome/css/font-awesome.min.css" media="all" />
  <link rel="stylesheet" href="__CSS__/admin.css"  media="all">
  <style type="text/css">

/* tooltip */
#tooltip{
  position:absolute;
  border:1px solid #ccc;
  background:#333;
  padding:2px;
  display:none;
  color:#fff;
}
</style>
</head>
<body style="padding:10px;">
  <div class="tplay-body-div">
    <div class="layui-tab">
      <ul class="layui-tab-title">
        <li class="layui-this">推荐网络图</li>
       
      </ul>
    </div> 
       
    <table lay-size="sm" style="width:100%">
      <tbody><tr><td>
<table width="100%" border="0">
		<tbody><tr style=" display:">
		<form action="" method="get" name="form1" id="form1">
			<td height="30" align="center"><span id="Label1">会员编号：</span>
			<input name="userid" type="text" id="userid" style="width:100px;">
			<input type="submit" name="btnSearch" value="搜索" id="btnSearch" class="button_text" onMouseOver="this.className=&#39;button_onmouseover&#39;" onMouseDown="this.className=&#39;button_onmousedown&#39;" onMouseOut="this.className=&#39;button_onMouseOut&#39;">
		 </td>
      </form>
		</tr>
		<!--<tr style=" display:">
		<form action="dtusers_1.php" method="get" name="form1" id="form1">
        <input type="hidden" value="psearch" name="psearch">
		<input name="userid" type="hidden" id="userid" value="">
	    <td height="30" align="center">搜索期数：<input name="periods1" type="text" id="periods" style="width:100px;">
			<input type="submit" name="btnSearch" value="搜索" id="btnSearch" class="button_text" onMouseOver="this.className='button_onmouseover'" onMouseDown="this.className='button_onmousedown'" onMouseOut="this.className='button_onMouseOut'"><br>(若不添加期数系统默认为第1期，当前查询第1期)</td>
		</form>
		</tr>-->
</tbody></table>
<!-- 拓扑图开始 -->
</td></tr>
<tr><td>
<table align="center" cellpadding="0" cellspacing="0" width="80%"><tbody><tr>
<td valign="top" align="center">
  <table border="0" cellpadding="0" cellspacing="1" bgcolor="#517DBF" align="center" width="200px">
    <tbody><tr>
      <td align="center" bgcolor="#FFFFFF" style=" border:1px solid #06F">
	  <table width="100%" border="0" cellspacing="1" cellpadding="0" >
              <tbody><tr>
            <td height="15" align="center" bgcolor="#009999"><a style="WIDTH: 80px; BACKGROUND-COLOR:" href="dtusers/index/userid/cn601674"><font color="ffffff"><strong>{$member.user_number}</strong></font></a></td>
          </tr>		 
          <tr>
            <td height="15" align="center" bgcolor="#009999"><font color="ffffff">{$member.user_name}</font></td>
          </tr>
          <tr>
            <td height="15" align="center" bgcolor="#009999">{$member.grade|grade}</td>
          </tr>
          <tr>
            <td align="center" bgcolor="#66c2cd">
			<table width="100%" cellspacing="1" cellpadding="0" border="0" bgcolor="#E7F2FB">
              <tbody bgcolor="#c9e8ec">
                 <tr>
                  <td>&nbsp;</td>
                  				  <td height="15">A</td>
				 				  <td height="15">B</td>
				                 </tr>
				<tr>
				  <td height="15" width="30%">累计</td>
				                    <td align="center" height="15">4</td>
				                    <td align="center" height="15">3</td>
				                  </tr>
                <tr>
                  <td height="15">
				  	新增</td>
				                    <td align="center" height="15">
                  0</td>
				                    <td align="center" height="15">
                  0</td>
				                  </tr>
                <tr style="display:">
				  <td height="15">剩余</td>
				                    <td align="center" height="15">
                  0</td>
				                     <td align="center" height="15">
                  0</td>
				                   </tr>
              </tbody>
            </table></td>
          </tr>
                    <tr>
            <td align="center">2018-09-12</td>
          </tr>
          <tr>            </tr>
      </tbody></table></td>
    </tr>
  </tbody></table></td>
</tr>
</tbody></table>
<table border="0" align="center" cellspacing="0" cellpadding="0">
  <tbody><tr>
	<td align="center"><img style="WIDTH: 1px; HEIGHT: 20px" alt="" src="__IMG__/line.gif" border="0"></td>
  </tr>
</tbody></table>
{$tree }
</td></tr></tbody>
    </table>
    {include file="public/foot"}
    <script type="text/javascript">

    $('.delete').click(function(){
      var id = $(this).attr('id');
      layer.confirm('确定要删除?', function(index) {
        $.ajax({
          url:"{:url('admin/article/delete')}",
          data:{id:id},
          success:function(res) {
            layer.msg(res.msg);
            if(res.code == 1) {
              setTimeout(function(){
                location.href = res.url;
              },1500)
            }
          }
        })
      })
    })
    </script>
    <script type="text/javascript">

    $('.is_top').click(function(){
      var val = $(this).attr('data-val');
      var id = $(this).attr('data-id');
      var i = $(this).find('i');
      var the = $(this);
      if(val == 1){
        var is_top = 0;
      } else {
        var is_top = 1;
      }
      $.ajax({
        type:"post",
        url:"{:url('admin/article/is_top')}",
        data:{is_top:is_top,id:id},
        success:function(res){
          
          if(res.code == 1) {
            top();
          } else {
            layer.msg(res.msg);
          }
        }
      })

      function top(){
        if(val == 1){
          i.attr("class","fa fa-toggle-off");
          the.attr('data-val',0);
        } else {
          i.attr("class","fa fa-toggle-on");
          the.attr('data-val',1);
        }
      }
    })


    $('.status').click(function(){
      var val = $(this).attr('data-val');
      var id = $(this).attr('data-id');
      var i = $(this).find('i');
      var the = $(this);
      if(val == 1){
        var status = 0;
      } else {
        var status = 1;
      }
      $.ajax({
        type:"post",
        url:"{:url('admin/article/status')}",
        data:{status:status,id:id},
        success:function(res){
          
          if(res.code == 1) {
            tostatus();
          } else {
            layer.msg(res.msg);
          }
        }
      })

      function tostatus(){
        if(val == 1){
          i.attr("class","fa fa-toggle-off");
          the.attr('data-val',0);
        } else {
          i.attr("class","fa fa-toggle-on");
          the.attr('data-val',1);
        }
      }
    })
    </script>
  </div>
</body>
</html>
